#map-layout {
  height: 300px;
  width: 500px;
}

:host {
  padding: 18px;
}
.photo-upload {
  position: relative;

  input {
    position: absolute;
    width: 100px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  img {
    padding: 8px;
    border: 1px dashed #0063f4;
    border-radius: 8px;
    background-size: auto;
    width: 120px;
    height: 120px;
  }
}

mat-form-field {
  width: 75%;
}

.container {
  justify-content: flex-start;
  display: flex;
  margin-top: 12px;
  padding-right: 0;

  .submit,
  .cancel {
    color: white;
    border-radius: 20px;
    margin-left: 10px;

    &.submit {
      background-color: #0063f4;

      &:hover {
        background-color: #3c89fa;
        color: whitesmoke;
      }
    }

    &.cancel {
      background-color: red;

      &:hover {
        background-color: #ff2626;
      }
    }
  }
}
