<div class="container">
  <div class="left-section">
    <div class="section-content" fxLayout="column">
      <img class="left-section-img" src="../../../../assets/login-logo.png" />
      <span id="peepBus">Peep Bus</span>
      <span id="take">Take it easy</span>
    </div>
  </div>

  <div class="right-section">
    <div class="fields-container">
      <div class="login-title" [hidden]="forgotPassword" translate></div>
      <!--      <div class="forgot-title" [hidden]="!forgotPassword" translate>Forgot password</div>-->
      <form (ngSubmit)="login()" [formGroup]="loginForm" [hidden]="forgotPassword" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>
          email or password incorrect.
        </div>
        <br />
        <div class="login-fields" fxLayout="column">
          <span class="welcome-msg">Welcome to school name</span>
          <span class="login-msg">Log In</span>
          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <mat-label>{{ 'validations.login.username' | translate }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="email"
              autocomplete="email"
              [placeholder]="'email' | translate"
              required
            />
            <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
              <span translate>email is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <mat-label>{{ 'validations.login.password' | translate }}</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="current-password"
              [placeholder]="'Password' | translate"
              required
              id="mysecretpassword"
              showHideInput
            />
            <mat-icon
              matSuffix
              class="material-icons cursor-pointer"
              showHideTrigger="mysecretpassword"
              [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
            ></mat-icon>
            <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <!--          <mat-checkbox class="checkBox" formControlName="remember" translate>Remember me</mat-checkbox>-->
          <br />
          <button
            class="login-btn"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid || isLoading"
            [ngClass]="{ disabled: loginForm.invalid || isLoading }"
          >
            <span translate>Login</span>
          </button>
          <!--          <div class="forget-password">-->
          <!--            <img src="../../../../assets/password-reset.png" class="pass-reset"/>-->
          <!--            <a class="underline-none" href="javascript:" (click)="forgotPassword = !forgotPassword">-->
          <!--              {{ 'forget_password' | translate }}-->
          <!--            </a>-->
          <!--          </div>-->
        </div>
      </form>

      <!--      <form (ngSubmit)="resetPassword()" [formGroup]="forgetForm" [hidden]="!forgotPassword" novalidate>-->
      <!--        <div class="login-error" [hidden]="!error || isLoading" translate>-->
      <!--          {{ this.error }}-->
      <!--        </div>-->
      <!--        <br/>-->
      <!--        <div class="login-fields" fxLayout="column">-->
      <!--          <mat-form-field [hideRequiredMarker]="true">-->
      <!--            <input-->
      <!--              type="text"-->
      <!--              matInput-->
      <!--              formControlName="email"-->
      <!--              autocomplete="email"-->
      <!--              [placeholder]="'Email' | translate"-->
      <!--              required-->
      <!--            />-->
      <!--            <mat-error *ngIf="forgetForm.controls.email.invalid && forgetForm.controls.email.touched">-->
      <!--              <span translate>Email is required</span>-->
      <!--            </mat-error>-->
      <!--          </mat-form-field>-->
      <!--          <br/>-->
      <!--          <button-->
      <!--            class="reset-btn"-->
      <!--            mat-raised-button-->
      <!--            color="primary"-->
      <!--            type="submit"-->
      <!--            [disabled]="(forgetForm.invalid && forgetForm.controls.email.touched) || isLoading"-->
      <!--            [ngClass]="{ disabled: (forgetForm.invalid && forgetForm.controls.email.touched) || isLoading }"-->
      <!--          >-->
      <!--            <span translate>Send</span>-->
      <!--          </button>-->
      <!--        </div>-->
      <!--      </form>-->
    </div>
    <div class="login-footer-img">
      <img src="../../../../assets/Component 4 – 2.png" alt="BUS" />
    </div>
  </div>
</div>
