.listOptions {
  padding: 20px 10px;
  //justify-content: space-between;

  h3 {
    color: #5069e4;
    font-size: 130%;
  }

  button {
    background-color: #5069e4;
    color: whitesmoke;
    padding: 5px 20px;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin: 10px 10px;
  }
}
