<div fxFlex fxLayout="column" style="padding: 0rem 1rem;">
  <h3 class="form-title">{{ 'common.add' | translate }} {{ cid + '.title_single' | translate }}</h3>
  <form class="d-flex default-form-style" [formGroup]="form" (ngSubmit)="formSubmission()">
    <ng-container *ngFor="let field of service.featureProps; trackBy: trackByFn">
      <div *ngIf="field.formField" class="form-field" style="flex: 1 1 50%;">
        <mat-grid-list cols="2" rowHeight="5:1">
          <ng-container *ngIf="field.formFieldType === 'text' && checkConditions(field.condition)">
            <mat-form-field appearance="outline">
              <mat-label>{{ cid + '.' + field.name | translate }}</mat-label>
              <input type="text" matInput [formControlName]="field.name" />
            </mat-form-field>
            <app-control-errors [ctl]="form.get(field.name)" class="error-message"></app-control-errors>
          </ng-container>
          <ng-container *ngIf="field.formFieldType === 'password' && checkConditions(field.condition)">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'common.password' | translate }}</mat-label>
              <input
                type="password"
                matInput
                [formControlName]="field.name"
                [placeholder]="cid + '.' + field.name | translate"
              />
            </mat-form-field>
            <app-control-errors [ctl]="form.get(field.name)" class="error-message"></app-control-errors>
          </ng-container>
          <ng-container *ngIf="field.formFieldType === 'email' && checkConditions(field.condition)">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'common.email' | translate }}</mat-label>
              <input
                type="email"
                matInput
                [formControlName]="field.name"
                [placeholder]="cid + '.' + field.name | translate"
              />
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="field.formFieldType === 'phone' && checkConditions(field.condition)">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'common.phone' | translate }}</mat-label>
              <input
                type="phone"
                matInput
                [formControlName]="field.name"
                [placeholder]="cid + '.' + field.name | translate"
              />
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="field.formFieldType === 'multi_select' && checkConditions(field.condition)">
            <mat-form-field appearance="outline">
              <mat-label>{{ cid + '.' + field.name | translate }}</mat-label>
              <mat-select [formControlName]="field.name" [placeholder]="cid + '.' + field.name | translate" multiple>
                <mat-option *ngFor="let item of service.lists[field.listPrefix].data" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-control-errors [ctl]="form.get(field.name)" class="error-message"></app-control-errors>
          </ng-container>

          <ng-container *ngIf="field.formFieldType === 'select' && checkConditions(field.condition)">
            <mat-form-field appearance="outline">
              <mat-label>{{ cid + '.' + field.name | translate }}</mat-label>
              <mat-select [formControlName]="field.name" [placeholder]="cid + '.' + field.name | translate">
                <mat-option *ngFor="let item of service.lists[field.listPrefix]" [value]="item.id">
                  {{ item.name || item.role || item.brand_name || item.model_name || item.branch_name || item.address }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="field.formFieldType === 'color_picker' && checkConditions(field.condition)">
            <div style="margin: 10px" class="mat-form-field">
              <label style="position: absolute; padding: 7px 15px;">{{ cid + '.' + field.name | translate }}</label>
              <input
                style="border: none;border-radius: 10px;padding: 10px; width: 100%; text-align: center;"
                [matTooltip]="'common.click_to_change' | translate"
                [formControlName]="field.name"
                [colorPicker]="form.controls[field.name].value"
                (colorPickerChange)="setColor(field.name, $event)"
                [style.background]="form.controls[field.name].value || '#e3e3e3'"
              />
            </div>
            <app-control-errors [ctl]="form.get(field.name)" class="error-message"></app-control-errors>
          </ng-container>
          <ng-container *ngIf="field.formFieldType === 'file_input' && checkConditions(field.condition)">
            <div
              [matTooltip]="'common.click_to_upload' | translate"
              class="mat-form-field"
              style="display: flex; flex-direction: column"
            >
              <label class="imageUploader" for="file">
                <span class="addNew">
                  <img
                    width="30"
                    *ngIf="form.controls[field.name].value"
                    [src]="imagePath(environment[field.imagePath], form.controls[field.name].value, true)"
                    [alt]="field.name"
                  />
                  <img *ngIf="!form.controls[field.name].value" src="../../../../assets/img-alt.png" />
                </span>
              </label>
              <input
                style="width: 0.1px; height: 0.1px;"
                id="file"
                type="file"
                (change)="uploadPhoto($event, field.name)"
              />
            </div>
            <app-control-errors [ctl]="form.get(field.name)" class="error-message"></app-control-errors>
          </ng-container>
          <ng-container *ngIf="field.formFieldType === 'map' && checkConditions(field.condition)">
            <div id="map-layout">
              <app-map [mapId]="'client_settings_form'" [mapConfig]="mapConfigs" [service]="null"></app-map>
            </div>
          </ng-container>
        </mat-grid-list>
      </div>
    </ng-container>
  </form>
  <app-form-footer (submit)="formSubmission()" [form]="form"></app-form-footer>
</div>
