.table-overflow {
  overflow: auto;
}

table.table {
  width: 100%;
  border-spacing: 0 10px;

  tr {
    &:hover,
    &.locked {
      background: #f3f3f3;
      cursor: pointer;
    }
    td {
      padding: 10px;
      border-top: solid 1px #caceda;
      border-bottom: solid 1px #caceda;
      font-size: 14px;
      font-weight: 700;
      color: #2a3348;
      &:first-child {
        border-left: solid 1px #caceda;
      }

      &:last-child {
        border-right: solid 1px #caceda;
      }
    }
  }
}

.tbl-header {
  th {
    color: gray;
    font-weight: normal;
    padding: 0 10px;
    text-align: -webkit-auto;

    &.actions-head {
      text-align: center;
    }
  }
}

.action-column-width {
  width: 200px !important;
  padding: 10px;
}

.actions-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  button {
    background: none;
    height: 100%;
    border: none;
    cursor: pointer;
    color: #9199b6;
    margin-right: 10px;
  }
}

.tbl-content {
  margin-top: 0;
  //height: var(--allHeight);
  //height: 100%;
  overflow: auto;
}
