:host {
  display: flex;
  flex: 1;
}

.mat-expansion-panel {
  box-shadow: none;

  .mat-expansion-panel-header {
    padding: 0 16px;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
  padding-top: 28px;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.side-menu-button {
  margin-right: 1rem;
  margin-bottom: 3.5rem;

  mat-icon {
    color: #313131 !important;
  }
}

.mat-drawer {
  background: white;

  a,
  .mat-expansion-panel-header,
  mat-expansion-panel {
    color: #a7a7a7;
    font-weight: 100;

    &.active {
      span:first-child {
        color: white;

        .mat-icon {
          color: #0063f4;
        }
      }

      color: #0063f4;
      font-weight: bold;
    }
  }
}

.mat-expansion-panel {
  border-radius: 0;
  color: white;
  background: #2a3348;
}

.menuIcon {
  margin-right: 10px;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #8389a3;
}

.mat-sidenav-content {
  background: white;
}

.p-5 {
  padding: 25px;
}

.container {
  padding: 0 30px;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  mat-icon {
    color: #5069e4;

    &:hover {
      color: whitesmoke;
    }
  }
}

.userBtn {
  display: flex;
  color: #5069e4;
}

.tile {
  color: whitesmoke;
  padding: 0 20px;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  margin-top: 13px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: #8389a3;
}

.mat-icon-button {
  .mat-icon {
    color: #5069e4;
  }
}

.pic-logo {
  top: 11px;
  left: 1170px;
  width: 40px;
  height: 42px;
  border-radius: 20px;
  opacity: 1;
  margin: 0 0.3rem;
}

.username {
  width: 3.5rem;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  text-align: start;
}

.user-lang {
  display: flex;
  justify-content: space-between;
}

.side-menu-header {
  display: flex;

  img {
    margin: 6px 0 0 15px;
    height: fit-content;
  }
}

.side-menu-bg {
  width: 100%;
  height: 230px;
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-image: url("../../assets/menubg.png");
  background-size: cover;
}
