<div [dir]="currentLang === 'ar-SA' ? 'rtl' : 'ltr'" class="app-container" fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
      <mat-toolbar color="primary">
        <img
          width="150"
          style="margin: 0 auto; filter: brightness(0)invert(1)"
          src="../../assets/text-side.svg"
          alt="..."
        />
        <div>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="navigateToProfile()">{{ 'common.edit_profile' | translate }}</button>
            <button mat-menu-item (click)="logout()">{{ 'common.logout' | translate }}</button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let item of menuItems.items; let i = index">
            <a *ngIf="!item?.children?.length" mat-list-item [routerLink]="item.url" routerLinkActive="active">
              <mat-icon class="menuIcon">{{ item.icon }}</mat-icon>
              <span>{{ 'menu.' + item.title | translate }}</span>
            </a>
            <mat-expansion-panel
              routerLinkActive="active"
              class="menuDropDown"
              style="background: #242d42;padding: 0;border-bottom: 1px solid #2a3348;"
              *ngIf="item?.children?.length > 0"
            >
              <mat-expansion-panel-header>
                <span>
                  <mat-icon class="menuIcon">{{ item.icon }}</mat-icon>
                  {{ 'menu.' + item.title | translate }}
                </span>
              </mat-expansion-panel-header>
              <mat-list *ngFor="let child of item.children; let i = index">
                <a mat-list-item [routerLink]="child.url" routerLinkActive="active">
                  <mat-icon class="menuIcon">{{ child.icon }}</mat-icon>
                  <span>{{ 'menu.' + child.title | translate }}</span>
                </a>
                <mat-divider *ngIf="i !== item.children.length - 1"></mat-divider>
              </mat-list>
            </mat-expansion-panel>

            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="container p-0">
          <div class="user-lang">
            <button [matTooltip]="'common.change_language' | translate" mat-button>
              <button (click)="toggleLanguage()" class="userBtn" mat-menu-item>
                {{ 'languages.' + currentLang | translate }}
              </button>
            </button>
          </div>
        </div>
      </mat-toolbar>

      <div class="full-height" fx-flex fxLayout="column">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
