<div [dir]="currentLang === 'ar-SA' ? 'rtl' : 'ltr'" class="app-container" fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
      <nav>
        <mat-list>
          <div class="side-menu-header">
            <button class="side-menu-button" mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <img src="../../assets/logo.png" alt="LOGO" />
          </div>
          <ng-container *ngFor="let item of menuItems.items; let i = index">
            <a
              class="menu-item"
              *ngIf="!item?.children?.length"
              mat-list-item
              [routerLink]="item.url"
              routerLinkActive="active"
            >
              <mat-icon class="menuIcon">{{ item.icon }}</mat-icon>
              <span>{{ 'menu.' + item.title | translate }}</span>
            </a>
            <mat-expansion-panel
              routerLinkActive="active"
              class="menuDropDown"
              style="background: #242d42;padding: 0;border-bottom: 1px solid #2a3348;"
              *ngIf="item?.children?.length > 0"
            >
              <mat-expansion-panel-header>
                <span>
                  <mat-icon class="menuIcon">{{ item.icon }}</mat-icon>
                  {{ 'menu.' + item.title | translate }}
                </span>
              </mat-expansion-panel-header>
              <mat-list *ngFor="let child of item.children; let i = index">
                <a mat-list-item [routerLink]="child.url" routerLinkActive="active">
                  <mat-icon class="menuIcon">{{ child.icon }}</mat-icon>
                  <span>{{ 'menu.' + child.title | translate }}</span>
                </a>
                <!--                <mat-divider *ngIf="i !== item.children.length - 1"></mat-divider>-->
              </mat-list>
            </mat-expansion-panel>
          </ng-container>
        </mat-list>
        <div class="side-menu-bg"></div>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <!--      <mat-toolbar color="primary" class="mat-elevation-z6">-->
      <!--        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">-->
      <!--          <mat-icon>menu</mat-icon>-->
      <!--        </button>-->
      <!--        <div class="container p-0">-->
      <!--          <div class="user-lang">-->
      <!--            <button [matTooltip]="'common.change_language' | translate" mat-button>-->
      <!--              <button (click)="toggleLanguage()" class="userBtn" mat-menu-item>-->
      <!--                {{ 'languages.' + currentLang | translate }}-->
      <!--              </button>-->
      <!--            </button>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </mat-toolbar>-->

      <div fx-flex fxLayout="column">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
